/* General styles for entire page */
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Set navigation features */
#nav {
    width: 100%;
    padding: 10px;
}

/* Set first project width to 100% of container, making it larger than following projects */
.image1 {
    width: 99%;
    border: 2px solid grey;
}

img {
    width: 100%;
}

/* Set width of the rest of projects to make it appear smaller than first project */
.images {
    width: 49%;
    border: 2px solid grey;
}

.m4 {
    text-align: right;
    /* border-right: 3px solid grey; */
}

@media screen and (max-width: 768px) {
    header,
    body {
      flex-direction: column;
    }
    section {
      padding-right: 0;
    }
    main {
      width: 100%;
      text-align: center;
    }
  }